extends layout

block content
	h1 Welcome #{user.name}

	h2 Links
	ul
		li
			a(href='/blog/') Blog
		li
			a(href='/logout') Logout

	h2 Add New Post
	form(action='/blog/' method='POST')
		div
			input(name='title' type='text' size='50' placeholder="Title")
		div
			textarea(name='content' rows='20' cols='50' placeholder="Content (Supports Markdown)")
		div
			input(type='submit')
