extends layout

block content
	h1 Login
	form(action='/login' method='POST')
		input(name='username' type='text' required='required' placeholder='Username')
		input(name='pass' type='password' required='required' placeholder='Password')
		input(type='submit')